*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body{
    background: url("images/lib.jpg") no-repeat center center/cover;
    backdrop-filter: blur(1.5px);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

label{
    background: black;
    padding: 10px 50px;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    color: white;

    

}

.container{
    background: white;
    padding: 30px;
    border-radius: 8px;
    height: 250px;
    width: 800px;
    margin: 25px;
    
}
.content{

    margin: 15px 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;

}

h2{
    margin:20px 0;
    color: rgb(205, 33, 33);

}

.btn{
    padding: 8px 20px;
    background: black;
    border: 2px solid rgb(176, 164, 164);
    border-radius: 8px;
    color: white;
    margin-bottom: 20px;

}